<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>auto</ion-title>
    <ion-button slot="start" color="secondary">
      <ion-back-button></ion-back-button>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registrar auto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioRegistroauto">
        <ion-item>
          <ion-label position="floating">costo</ion-label>
          <ion-input formControlName="costo" type="number" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">tag</ion-label>
          <ion-input formControlName="tag" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">cantidad de personas</ion-label>
          <ion-input formControlName="cantperson" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">destino</ion-label>
          <ion-input formControlName="destino" ></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-button (click)="guardar()" expand="block" mat-raised-button color="primary">
        registrar auto
      </ion-button>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ion-card-content>
  </ion-card>
</ion-content>
