<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>noauto</ion-title>
    <ion-button slot="start" color="secondary">
      <ion-back-button></ion-back-button>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <ion-button expand="block" mat-raised-button color="primary">buscar auto</ion-button>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>

  <ion-card align="center">
    <img src="https://cdn.discordapp.com/attachments/1149123407200399461/1149163921152942170/Proyecto_nuevo.png" alt="">
  </ion-card>
  
</ion-content>
